*
	margin: 0
	padding: 0

body
	font-family: 'Lexend Zetta', 'Roboto', 'Helvetica', sans-serif

a
	text-decoration: none

.center-content
	display: flex
	justify-content: center
	align-items: center

.no-scroll
	overflow: hidden

.text-primary
	color: $primary

.text-secondary
	color: $secondary

	a:link,
	a:visited,
	.text-light
		color: $secondary-light

	a:link,
	a:visited,
	.text-lightest
		color: $secondary-lightest
